body {
  background-color: #cfffb3;
  color: #447604;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
  margin: 2.5em;
}

footer {
  color: #f4e409;
  background-color: #447604;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 3em;
}

a {
  text-decoration: none;
  color: #447604;
}

#backyardcomposter {
  width: 300px;
  border-radius: 1em;
  float: right;
  display: none;
}

.material-photos {
  width: 350px;
  border-radius: 1em;
  float: right;
  margin-left: 1em;
}


#household-compost {
  border-radius: 1em;
  width: 45%;
  float: right;
  margin-left: 2em;
}

#worm-bin {
  width: 45%;
  border-radius: 1em;
  float: right;
  margin-left: 2em;
}

#bokashi-bin {
  float: right;
  width: 50%;
  height: auto;
  border-radius: 1em;
  margin-left: 2em;
}

section {
clear: right;
}