body {
  color: #f17105;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
  margin: 2.5em;
}

h1, h2, h3, strong {
  color: #447604;
}

footer {
  color: #f4e409;
  background-color: #447604;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 3em;
}

a {
  text-decoration: none;
  color: #447604;
}

#approaches {
  width: 700px;
  display: inline-block;
  margin: 1em;
}

#backyardcomposter {
  width: 300px;
  display: inline-block;
  border-radius: 1em;
}

.material-photos {
  width: 400px;
  display: inline-flex;
  border-radius: 1em;
  margin: 1em;
}

#composting-phases {
  width: 45%;
  display: inline-block;
  margin-right: 2.5em;
}

#household-compost {
  display: inline-block;
  border-radius: 1em;
  width: 50%;
}

#verm-desc {
  width: 45%;
  display: inline-block;
margin-right: 2.5em;
}

#worm-bin {
  width: 50%;
  border-radius: 1em;
}

#bokashi-desc {
  width: 50%;
  display: inline-block;
  margin-right: 2.5em;
}

#bokashi-bin {
  width: auto;
  height: 400px;
  border-radius: 1em;
}